<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
</head>
<body>
<h3 th:text="${titulo}"></h3>
<br>
<br>

<a class="btnAceptar" th:href="@{/form-cliente}">Registrar cliente</a>
<br>

<form th:if="${!clientes.isEmpty()}" th:action="@{/buscar-cliente-por-IdTelefono}" th:object="${cliente}" method="post">
	<table>
		<tr>
			<td>ID o Numero de Telefono del Cliente: </td>
			<td><input type="text" th:field="*{numeroTelefonico}" required /></td>
		</tr>
		<br>
		<tr>
			<td><input class="btnAceptar" type="submit" value="Buscar" /></td>
		</tr>
	</table>
</form>

<br>
<br>

<p class="msjWarning" th:if="${mensajeError}" th:text="${mensajeError}"></p>
<p class="msjSuccess" th:if="${clientesEncontrados}" th:text="${mensajeSuccess}"></p>

<table th:if="${clientesEncontrados}">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Numero de Telefono</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
	
			<tr th:each="clienteE: ${clientesEncontrados}"></tr>
			<tr th:each="clienteE: ${clientesEncontrados}">
				<td th:text="${clienteE.getIdCliente()}"></td>
				<td th:text="${clienteE.getNombre()}"></td>
				<td th:text="${clienteE.getApellido()}"></td>
				<td th:text="${clienteE.getNumeroTelefonico()}"></td>
				<td th:text="${clienteE.getEmail()}"></td>
			</tr>
	</tbody>
</table>

<br>
<br>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Numero de Telefono</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<p class="msjWarning" th:if="${clientes.isEmpty()}">La lista de clientes esta vacia</p>
	
			<tr th:each="cliente: ${clientes}"></tr>
			<tr th:each="cliente: ${clientes}">
				<td th:text="${cliente.getIdCliente()}"></td>
				<td th:text="${cliente.getNombre()}"></td>
				<td th:text="${cliente.getApellido()}"></td>
				<td th:text="${cliente.getNumeroTelefonico()}"></td>
				<td th:text="${cliente.getEmail()}"></td>
				<td><a class="btnWarning" th:href="@{/form-cliente/} + ${cliente.getIdCliente()}" th:text="'Editar'"></a></td>
				<td><a class="btnDanger" th:href="@{/eliminar-cliente/} + ${cliente.getIdCliente()}" th:text="'Eliminar'" onclick="return confirm('¿Desea eliminar el cliente?');"></a></td>
			</tr>
	</tbody>
</table>

<hr>
	<a th:href="@{/}">Volver...</a>


</body>
</html>